.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tool-bar{
  background-color: #222f3e;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.sidebar{
  position: absolute;
  background-color: #222f3e;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  transform: translateX(-100%);
  transition: all 0.4s;
}
.sidebar--open{
  transform: translateX(0);
}
.sidebar li{
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: solid rgb(255, 255, 255, 0.1) 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.sidebar li:hover{
  background-color: #fff;
  color: #000;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}